.tito{text-align:center;
color: hsla(0, 23%, 95%, 0.007);
 }
 .tito{border-color: rgb(5, 247, 226) ;
border-right: double;
border-color: rgb(243, 44, 37);
margin-left: 40%;
margin-right: 30%;
}
.tito{font-size: 150%;
}

body{
    text-align: center;
    background-color: forestgreen;
}
img{
    size: 10%
}
